{% extends "layout.njk" %}

{% block header %}
<header>
	<h1>{{ title }}</h1>
	<p>by <code>{{ whoami }}@{{ search.pages("author=true username=" + whoami)[0].hostname }}</code> at <time datetime="{{date.toISOString()}}">{{ date | date }}</time></p>
</header>
{% endblock header %}

{% block main %}
<article>
	{{ content | safe }}
</article>
<hr>
<section id="aboutTheAuthor">
	{% for author in search.pages("author=true username=" + whoami) %}
	<h2>{{ author.name }}</h2>
	<p class="--center"><code>{{ author.username }}@{{ author.hostname }}</code></p>
	<div>
		<img alt="" src="/assets/images/avatars/{{ author.username }}.jpg" class="avatar">
		{{ author.content | md | safe }}
		<p class="options"><a href="mailto:{{ author.email }}">Email</a> <a href="/assets/public-keys/{{ author.username }}.gpg.asc">Public Key</a></p>
	</div>
	{% endfor %}
</section>
{% if mastodonThread %}
<hr>
<section>
	<h2>Comments</h2>
	<noscript>
		<p>The replies to <a href="{{ mastodonThread }}">this thread</a> on Mastodon are the comments on this post. Reply from your own Fediverse account to have it show up here (for people with JavaScript enabled). You'll likely need to copy/paste the link into your client of choice to reply from your account without enabling JavaScript in your web browser.</p>
		<style>
			.--hide-noscript {
				display: none
			}
		</style>
	</noscript>
	<div class="--hide-noscript">
		<div id="comments">
			<p class="--center"><button onclick="loadComments('{{ mastodonThread }}')">Load Comments</button> <a href="{{ mastodonThread }}" class="button" target=_blank>Comment via Fediverse</a></p>
		</div>
	</div>
</section>
{% endif %}

{% set articles = search.pages("blog=true trunk=false lang=" + lang, "date=desc") %}
{% set prev = ([url, articles] | prev) %}
{% set next = ([url, articles] | next) %}

{% if (next or prev) %}
<hr>

<section>
	<nav class="exclude">
		{% if prev %}
		<a href="{{prev.url}}" rel="prev">Previous: {{prev.title}}</a>
		{% endif %}
		&nbsp;
		{% if next %}
		<a href="{{next.url}}" rel="next">Next: {{next.title}}</a>
		{% endif %}
	</nav>
</section>
{% endif %}
<hr>
<section>
	<h2>Liked what you read?</h2>
	<p>What's next?</p>
	<ul>
		<li><a href="/articles/">Find more articles</a>.</li>
		<li><a href="/feed/">Subscribe to the tty1 Atom Feed</a> to get updates when there's a new post.</li>
		<li>Know your stuff around the terminal? <a href="/guest-authors/">Submit a proposal for a guest article.</a></li>
	</ul>
</section>
<script src="https://cdn.jsdelivr.net/gh/jitbit/HtmlSanitizer@master/HtmlSanitizer.js"></script>
<script src="/assets/js/fedi-comments.js"></script>
{% endblock main %}
