{% extends "layout.njk" %}

{% block main %}
	{% for article in search.pages("blog=true", "date=desc") %}
		<article class="listing">
			<h2><a href="{{ article.url }}">{{ article.title }}</a></h2>
			<p class="subtitle --center">by <code>{{article.whoami}}@{{ search.pages("author=true username=" + article.whoami)[0].hostname }}</code> at {{article.date | date}}</p>
			{{ article.description | md | safe }}
			<p class="--center"><em>a {{article.content | timeToRead}} minute read</em></p>
			<p class="options"><a href="{{article.url}}">Read Full Article</a></p>
		</article>
	{% endfor %}
	<p>You've reached the oldest article. Found anything you especially liked? <a href="https://benjaminhollon.com/contact/" target="_blank">I'd love to hear from you!</a></p>
{% endblock main %}
