<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet type="text/xsl" href="/assets/xsl/rss.xsl"?>
<feed xmlns="http://www.w3.org/2005/Atom">
	<id>{{ link }}</id>
	<link href="{{ link }}" rel="alternate" />
	<title>{{ title }}</title>
	<subtitle>{{ subtitle }}</subtitle>
	<rights>{{ rights }}</rights>
	<language>{{ language }}</language>
	{% for item in search.pages(query, "date=desc") %}
	<entry>
		<id>https://tty1.blog{{ item.url }}</id>
		<link href="https://tty1.blog{{ item.url }}" rel="alternate"/>
		<title>{{ item.title or (item.url | id) }}</title>
		<author>
			<name>{{ item.author }}</name>
		</author>
		<summary>{{ item.description }}</summary>
		<content type="html">{{ item.content | njk({"inFeed": true}) | md | htmlUrl(true) }}</content>
		<updated>{{ item.date | date_iso }}</updated>
		<published>{{ item.date | date_iso }}</published>
	</entry>
	{% endfor %}
</feed>
