<!DOCTYPE html>
<html data-font-family="monospace" lang="en">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="/assets/css/readable.min.css?v=1.1.1-alpha">
		<link rel="stylesheet" type="text/css" href="/assets/css/global.css">
		<link rel="stylesheet" type="text/css" href="/assets/css/themes.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="alternate" type="application/rss+xml" title="RSS" href="https://tty1.blog/feed/">
		<title>{{ title }}</title>
		<meta property="og:title" content="{{title}}">
		<meta property="og:type" content="website">
		{% if whoami %}
		<meta name="author" content="{{ search.pages("author=true username=" + whoami)[0].name }}">
		{% endif %}
		{% if description %}
		<meta name="description" content="{{description}}">
		<meta property="og:description" content="{{description}}">
		{% endif %}
		<script src="/assets/js/themeSelector.js"></script>
		<link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon.svg">
		<link rel="me" href="https://lowkey.zone/@benjaminhollon">
	</head>
	<body onload="updateThemeSelector()">
		{% block header %}
		<header>
			<h1>{% block title %}{{ title }}{% endblock title %}</h1>
			{% block subtitle %}{% if subtitle %}<p>{{ subtitle | safe }}</p>{% endif %}{% endblock subtitle %}
		</header>
		{% endblock header %}
		<nav data-style="classy">
			{% block nav %}
			<span><a href="/">Home</a></span>
			<span><a href="/get-started/">Get Started</a></span>
			<span><a href="/articles/">Articles</a></span>
			<span><a href="/subscribe/">Subscribe</a></span>
			{% endblock nav %}
		</nav>
		<main>
			{% block main %}
			{{ content | safe }}
			{% endblock main %}
		</main>
		<footer>
			{% block footer %}
			<p><a class="codewithlove" href="https://benjaminhollon.com" target="_blank">&lt;/&gt; with &lt;3 by Benjamin Hollon</a></p>
			<a target="_blank" href="https://liberapay.com/benjaminhollon"><img alt="Donate using Liberapay" src="/assets/images/donate.svg"></a>
			<p><a href="/feed/">Atom Feed</a> | <a href="/guest-authors/">Guest Authors</a> | <a href="http://git.tty1.blog" target="_blank">Source Code</a></p>
			<p>All articles are usable under <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">CC BY 4.0</a>.</p>
			{% endblock footer %}
		</footer>
		<ol id="themeSelector" reversed></ol>
	</body>
</html>
