:root {
	--column-width: 72ch;
}

.options, .--center {
	text-align: center;
}

.listing {
	border-bottom: var(--line-width) solid;
	padding: calc(0.5 * var(--one-line)) 0;
}

.listing h2 {
	margin: 0;
}

#aboutTheAuthor h2 {
	margin-bottom: 0;
}

.avatar {
	height: calc(var(--one-line) * 3);
	border-radius: calc(var(--one-line) / 2);
	float: left;
	margin-right: var(--one-line);
	margin-bottom: var(--one-line);
}

#comments .comment .avatar {
	height: calc(var(--one-line) * 2);
}

#comments .comment {
	min-height: calc(var(--one-line) * 2);
	margin: calc(0.5 * var(--one-line)) 0;
	padding: calc(0.5 * var(--one-line));
	background-color: var(--background-color-1);
	border-radius: calc(var(--one-line) / 2);
}

#comments .comment__author__username {
	color: var(--text-highlight-0);
}

#comments .comment__content p:last-child {
	margin-bottom: 0;
}

#aboutTheAuthor > div {
	min-height: calc(var(--one-line) * 3);
}

.listing h2 + p.subtitle, #aboutTheAuthor h2 + p.--center {
	margin-top: 0;
}

.listing h2 > a {
	text-decoration: none;
}

.listing h2 > a:hover {
	text-decoration: underline;
}

.options > * {
	padding: 0 0.5rem;
}

a {
	color: var(--text-highlight-1);
}

a:visited {
	color: var(--text-highlight-2);
}

nav a[rel="prev"] {
	float: left;
}

nav a[rel="next"] {
	float: right;
}

pre, kbd, code:not(pre code) {
	background-color: var(--background-color-1);
}

kbd, code:not(pre code, .highlight) {
	padding: calc(0.0625 * var(--one-line)) calc(0.25 * var(--one-line));
	margin: 0 calc(0.125 * var(--one-line));
	border-radius: 0.25rem;
	white-space: nowrap;
}

kbd {
	font-weight: bold;
}

pre, code.highlight {
	padding: calc(0.5 * var(--one-line));
}

pre {
	white-space: pre-wrap;
	display: block;
}

.token.parameter, .token.string .token.entity {
	color: var(--text-highlight-0)
}

.token.assign-left {
	color: var(--text-highlight-1)
}

.token.number, .token.builtin {
	color: var(--text-highlight-2)
}

.token.function {
	color: var(--text-highlight-3);
}

.token.variable .token.variable, .token.string .token.variable {
	color: var(--text-highlight-4);
}


.token.string, kbd {
	color: var(--text-highlight-5);
}

.token.operator {
	color: var(--color);
}

.token.comment, .token.shebang {
	font-style: italic;
	color: var(--color-comments);
}

:is(body, header) > nav:first-of-type a {
	--color: var(--text-highlight-0);
	color: var(--color);
}

.hidden {
	display: none
}

a.codewithlove {
	font-weight: bold;
	color: var(--text-highlight-0);
}

button, a.button {
	color: var(--text-highlight-1);
	background-color: var(--background-color-1);
	border: var(--line-width) solid;
	line-height: var(--one-line);
	padding: calc(0.5 * var(--one-line));
	border-radius: calc(100 * var(--one-line));
	text-decoration: none;
	cursor: pointer;
	font: inherit;
}

/* Theme Selector */
#themeSelector {
	list-style: none;
	padding: calc(0.5 * var(--one-line));
	margin: 0;
	background-color: var(--background-color-1);
	display: inline-block;
	position: fixed;
	right: 2rem;
	bottom: 2rem;
	max-height: calc(100% - 4rem);
	overflow: auto;
}

#themeSelector a.current, #currentTheme {
	color: var(--text-highlight-0);
	text-decoration: none;
}

#themeSelector > details > summary {
	list-style: none;
}

#themeSelector details > li {
	margin-left: var(--one-line);
}

#themeSelector details {
	margin: 0
}
