a {
	color: var(--text-highlight-1);
}

a:visited {
	color: var(--text-highlight-2);
}

kbd, code {
	background-color: var(--background-color-1);
}

:is(body, header) > nav:first-of-type a {
	color: var(--text-highlight-0);
}

button {
	color: var(--text-highlight-1);
	background-color: var(--background-color-1);
}

/* Theme Selector */
#themeSelector {
	list-style: none;
	padding: calc(0.5 * var(--one-line));
	margin: 0;
	background-color: var(--background-color-1);
	display: inline-block;
	position: fixed;
	right: 2rem;
	bottom: 2rem;
	max-height: calc(100% - 4rem);
	overflow: auto;
}

#themeSelector a.current, #currentTheme {
	color: var(--text-highlight-0);
	text-decoration: none;
}

#themeSelector > details > summary {
	list-style: none;
}

#themeSelector details > li {
	margin-left: var(--one-line);
}

#themeSelector details {
	margin: 0
}
