:root[data-theme] {
	--background-color: var(--background-color-0);
	--color-comments: var(--color);
}

:root[data-theme="gruvbox-light"] {
	--background-color-0: #fbf1c7;
	--background-color-1: #ebdbb2;
	--color: #3c3836;
	--color-comments: #928374;
	--text-highlight-0: #9d0006;
	--text-highlight-1: #076678; /* should be a blue */
	--text-highlight-2: #8f3f71; /* should be a purple */
	--text-highlight-3: #427b58;
	--text-highlight-4: #b57614;
	--text-highlight-5: #79740e;
}

:root[data-theme="gruvbox-dark"] {
	--background-color-0: #282828;
	--background-color-1: #504945;
	--color: #ebdbb2;
	--color-comments: #928374;
	--text-highlight-0: #fb4934;
	--text-highlight-1: #83a598;
	--text-highlight-2: #d3869b;
	--text-highlight-3: #8ec07c;
	--text-highlight-4: #fabd2f;
	--text-highlight-5: #b8bb26;
}

:root[data-theme="solis"] {
	--background-color-0: #161512;
	--background-color-1: #312f2b;
	--color: #ebebea;
	--color-comments: #c9c8c5;
	--text-highlight-0: #d71010;
	--text-highlight-1: #38a78c;
	--text-highlight-2: #ed851c;
	--text-highlight-3: #19c434;
	--text-highlight-4: #f8cb2b;
	--text-highlight-5: #e6994a;
}

:root[data-theme="spaceduck"] {
	--background-color-0: #0f111b;
	--background-color-1: #1b1c36;
	--color: #ecf0c1;
	--color-comments: #818596;
	--text-highlight-0: #b3a1e6;
	--text-highlight-1: #5ccc96;
	--text-highlight-2: #7a5ccc;
	--text-highlight-3: #ce6f8f;
	--text-highlight-4: #f2ce00;
	--text-highlight-5: #00a3cc;
}

:root[data-theme="nord-dark"] {
	--background-color-0: #2e3440;
	--background-color-1: #3b4252;
	--color: #eceff4;
	--color-comments: #eceff4aa;
	--text-highlight-0: #8fbcbb;
	--text-highlight-1: #81a1c1;
	--text-highlight-2: #5e81ac;
	--text-highlight-3: #88c0d0;
	--text-highlight-4: #ebcb8b;
	--text-highlight-5: #a3be8c;
}

:root[data-theme="nord-light"] {
	--background-color-0: #ffffff;
	--background-color-1: #eceff4;
	--color: #2e3440;
	--color-comments: #2e344088;
	--text-highlight-0: #8fbcbb;
	--text-highlight-1: #81a1c1;
	--text-highlight-2: #5e81ac;
	--text-highlight-3: #88c0d0;
	--text-highlight-4: #ebcb8b;
	--text-highlight-5: #a3be8c;
}

:root[data-theme="everforest-light"] {
	--background-color-0: #fdf6e3;
	--background-color-1: #efebd4;
	--color: #5c6a72;
	--color-comments: #a6b0a0;
	--text-highlight-0: #8da101;
	--text-highlight-1: #3a94c5;
	--text-highlight-2: #df69ba;
	--text-highlight-3: #f85552;
	--text-highlight-4: #dfa000;
	--text-highlight-5: #35a77c;
}

:root[data-theme="everforest-dark"] {
	--background-color-0: #2d353b;
	--background-color-1: #232a2e;
	--color: #d3c6aa;
	--color-comments: #859289;
	--text-highlight-0: #a7c080;
	--text-highlight-1: #7fbbb3;
	--text-highlight-2: #d699b6;
	--text-highlight-3: #e67e80;
	--text-highlight-4: #dbbc7f;
	--text-highlight-5: #83c092;
}

:root[data-theme="gotham"] {
	--background-color-0: #0c1014;
	--background-color-1: #091f2e;
	--color: #d3ebe9;
	--color-comments: #599cab;
	--text-highlight-0: #d26937;
	--text-highlight-1: #599cab;
	--text-highlight-2: #888ca6;
	--text-highlight-3: #99d1ce;
	--text-highlight-4: #edb443;
	--text-highlight-5: #2aa889;
}

:root[data-theme="one-dark"] {
	--background-color-0: hsl(220, 13%, 18%);
	--background-color-1: hsl(230, 13%, 13%);
	--color: hsl(220, 14%, 71%);
	--color-comments: hsl(220, 10%, 40%);
	--text-highlight-0: hsl(355, 65%, 65%);
	--text-highlight-1: hsl(207, 82%, 66%);
	--text-highlight-2: hsl(286, 60%, 67%);
	--text-highlight-3: hsl(207, 82%, 66%);
	--text-highlight-4: hsl(39, 67%, 69%);
	--text-highlight-5: hsl(95, 38%, 62%);
}

:root[data-theme="one-light"] {
	--background-color-0: hsl(230, 1%, 98%);
	--background-color-1: hsl(20, 13%, 93%);
	--color: hsl(230, 8%, 24%);
	--color-comments: hsl(230, 4%, 64%);
	--text-highlight-0: hsl(5, 74%, 59%);
	--text-highlight-1: hsl(221, 87%, 60%);
	--text-highlight-2: hsl(301, 63%, 40%);
	--text-highlight-3: hsl(198, 99%, 37%);
	--text-highlight-4: hsl(35, 99%, 40%);
	--text-highlight-5: hsl(119, 34%, 47%);
}

:root[data-theme="tokyo-night"] {
	--background-color-0: #1a1b26;
	--background-color-1: #24283b;
	--color: #a9b1d6;
	--color-comments: #565f89;
	--text-highlight-0: #f7768e;
	--text-highlight-1: #7dcfff;
	--text-highlight-2: #bb9af7;
	--text-highlight-3: #7aa2f7;
	--text-highlight-4: #e0af68;
	--text-highlight-5: #9ece6a;
}

:root[data-theme="tokyo-night-light"] {
	--background-color-0: #f3f3f5;
	--background-color-1: #d5d6db;
	--color: #343b58;
	--color-comments: #9699a3;
	--text-highlight-0: #8c4351;
	--text-highlight-1: #0f4b6e;
	--text-highlight-2: #5a4a78;
	--text-highlight-3: #34548a;
	--text-highlight-4: #8f5e15;
	--text-highlight-5: #485e30;
}

:root[data-theme="catppuccin-latte"] {
	--background-color-0: #eff1f5;
	--background-color-1: #e6e9ef;
	--color: #4c4f69;
	--color-comments: #8c8fa1;
	--text-highlight-0: #7287fd;
	--text-highlight-1: #1e66f5;
	--text-highlight-2: #8839ef;
	--text-highlight-3: #179299;
	--text-highlight-4: #df8e1d;
	--text-highlight-5: #40a02b;
}

:root[data-theme="catppuccin-frappe"] {
	--background-color-0: #303446;
	--background-color-1: #292c3c;
	--color: #c6d0f5;
	--color-comments: #737994;
	--text-highlight-0: #babbf1;
	--text-highlight-1: #8caaee;
	--text-highlight-2: #ca9ee6;
	--text-highlight-3: #81c8be;
	--text-highlight-4: #e5c890;
	--text-highlight-5: #a6d189;
}

:root[data-theme="catppuccin-macchiato"] {
	--background-color-0: #24273a;
	--background-color-1: #1e2030;
	--color: #cad3f5;
	--color-comments: #6e738d;
	--text-highlight-0: #b7bdf8;
	--text-highlight-1: #8aadf4;
	--text-highlight-2: #c6a0f6;
	--text-highlight-3: #8bd5ca;
	--text-highlight-4: #eed49f;
	--text-highlight-5: #a6da95;
}

:root[data-theme="catppuccin-mocha"] {
	--background-color-0: #1e1e2e;
	--background-color-1: #181825;
	--color: #cdd6f4;
	--color-comments: #6c7086;
	--text-highlight-0: #b4befe;
	--text-highlight-1: #89b4fa;
	--text-highlight-2: #cba6f7;
	--text-highlight-3: #94e2d5;
	--text-highlight-4: #f9e2af;
	--text-highlight-5: #a6e3a1;
}

:root[data-theme="dracula"] {
	--background-color-0: #282a36;
	--background-color-1: #44475a;
	--color: #f8f8f2;
	--color-comments: #6272a4;
	--text-highlight-0: #ff79c6;
	--text-highlight-1: #8be9fd;
	--text-highlight-2: #bd93f9;
	--text-highlight-3: #50fa7b;
	--text-highlight-4: #ffb86c;
	--text-highlight-5: #f1fa8c;
}
